.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

.myPictureClose{
    position: absolute;
    top: 5px;
    right: 25px;
}

.vcenter { /* this style is for align images inside the profile board*/
    display: inline-block;
    vertical-align: middle;
    float: none;
}
