<div ng-controller = "usersCtrl">
    <div class = "row">
        <div class = "col-sm-3 col-3" style = "border: 1px solid lightgray; border-radius: 5px">
            <h4 style = "text-align: center">{{nameForId}}</h4>
            <div ng-show = "userOwner()">
            <form  name = "myForm">
                <label>Change the public/private profile. Public:
                    <input type = "checkbox" ng-model = "public" ng-change = "update()">
                </label><br/>
                <tt>your profile is  
                    <span ng-if = "showPublic()">public</span>
                    <span ng-if = "!showPublic()">private</span>
                    </tt><br/>
            </form>
            </div>
            <div ng-show = "userAdmin()">
            <form  name = "myForm">
                <label>Change the public/private profile. Public:
                    <input type = "checkbox" ng-model = "publicForId" ng-change = "updateForId()">
                </label><br/>
                <tt>your profile is
                    <span ng-if = "showPublicForId()">public</span>
                    <span ng-if = "!showPublicForId()">private</span>
                </tt><br/>
            </form>
            </div>

        </div>
        <div class = "col-sm-9 col-9" style = "border: 1px solid lightgray; border-radius: 5px">
            <div ng-if = "userOwner()" class = "jumbotron row">
                <div class = "col-lg-3 col-sm-4 col-xs-6" style = "border: 1px solid transparent" ng-repeat = "image in images">
                    <div style = "position: relative; height: 250px; width: 100%; border: 1px solid transparent">
                    <button class = "close myPictureClose" ng-if = userOwner() ng-click = "deletePicture(image, $index)">x</button>
                        <a ng-click="openLightboxModal($index)">
                            <img class = "thumbnail img-responsive" style = "height: auto; width: auto" ng-src = {{image.url}}>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-if = "!userOwnerOrAdmin()" class = "jumbotron row">
                <div class = "col-lg-3 col-sm-4 col-xs-6" style = "border: 1px solid transparent" ng-repeat = "image in images">
                        <div style = "position: relative; height: 250px; width: 100%; border: 1px solid transparent">
                        <a ng-click="openLightboxModal($index)">
                            <img class = "thumbnail img-responsive" style = "height: auto; width: auto" ng-src = {{image.url}}>
                        </a>
                        </div>
                </div>
            </div>
            <div ng-show = "userAdmin()" class = "jumbotron row">
                <div class = "col-lg-3 col-sm-4 col-xs-6" style = "border: 1px solid transparent" ng-repeat = "image in images">
                    <div style = "position: relative; height: 250px; width: 100%; border: 1px solid transparent">
                    <button class = "close myPictureClose" ng-if = userAdmin() ng-click = "deletePictureByAdmin(image, $index)">x</button>
                        <a ng-click="openLightboxModal($index)">
                            <img class = "thumbnail img-responsive" style = "height: auto; width: auto" ng-src = {{image.url}}>
                        </a>
                    </div>
                </div>
            </div>
        
            <div ng-show = "userOwner()" style="margin: 20px" >
                <div ngf-drop ngf-select ng-model="file" class="drop-box" 
                    ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
                    accept="image/*" 
                    ngf-pattern="'image/*'">
                    Drop images here or click to upload
                </div>
            </div>
            <!---->
            <div ng-show = "userAdmin()" style="margin: 20px" >
                <div ngf-drop ngf-select ng-model="file" class="drop-box" 
                    ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
                    accept="image/*" 
                    ngf-pattern="'image/*'">
                    Drop images here or click to upload
                </div>
            </div>
            <!---->

        </div>
    </div>    
    
    <div class = "container">
        
    </div>

    
</div>